$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

$accentColor: #2F4E74;
$primaryColor: #948671;
$whiteColor: #ffffff;
$defaultTextColor: #333333;
$bodyBackground: #F4F9FF;

// Roman
$greyColor: #777777;
$inputPlaceholderColor: #7C7C7C;

// коментарі, сторінка із послугами (ціни), новини (записатися)
$backgroundDarker: #E8F1FF;
