@import "../abstracts/mixins";
@import "../abstracts/variables";

.not-found {
  width: 100vw;
  height: 100vh;
  background: $accentColor;
  padding: 15px;
  text-align: center;
  &-title {
    margin-bottom: 14px;
  }
  &-subtitle {
    margin-bottom: 24px;
  }
  &-404 {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 160px;
    line-height: 160px;
    margin-bottom: 24px;
    color: #fff;
  }
  &-sorry p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #fff;

    text-align: center;
  }
  &-sorry p:first-of-type {
    margin-bottom: 0;
  }
  &-back {
    & a {
      padding: 20px 56px;
    }
  }
}