@import "../abstracts/mixins";
@import "../abstracts/variables";

#mapContacts {
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #FFFFFF 60.72%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
  }
}

.contacts {
  // padding: 34px 0;
  padding: 0;
  position: relative;
  &-info {
    position: absolute;
    top: 0;
    left: 60px;
  }

  &__column {
    z-index: 3;
    position: relative;
  }

  &__title {
    margin-bottom: 16px;
    @include fontSize(36, 48);
    line-height: 1.33;
  }

  &__content {
    & ul {
      margin-bottom: 24px;

      & a, & li {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $defaultTextColor;
      }
    }

    & strong {
      font-weight: bold;
    }
  }

  &__form {
    & .btn-primary {
      width: 100%;
    }
  }

  & .form-control__input, & .form-control__area {
    padding: 20px 24px;
    background: transparent;
  }

}

.contacts-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0 45px 0;
  &-heading {
    color: #fff;
  }
  &-button button{
    padding: 12px 36px;
  }
}

.map {
  width: 100vw;
  height: 700px;
  position: absolute;
  z-index: 0;
}

.marker {
  background-image: url('/src/img/map-marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  &:before {
    content: '';
    background-image: url(/src/img/404-title.svg);
    position: absolute;
    width: 500px;
    height: 100px;
    background-repeat: no-repeat;
    top: -110px;
    left: -200px;
  }
  &:after {
    content: '';
    background-image: url(/src/img/404-subtitle.svg);
    position: absolute;
    width: 500px;
    height: 100px;
    background-repeat: no-repeat;
    top: -40px;
    left: -200px;
  }
}


@media(max-width: $breakpoint-xl) {
  .contacts-main {
    flex-direction: column;
    align-items: flex-start;
    &-heading {
      padding-bottom: 10px;
    }
  }
}