@import "../abstracts/mixins";
@import "../abstracts/variables";

.equipments {
  margin-bottom: -34px;

  & .app-screen__title {
    margin: 57px 0 48px 0;
  }

  &-column {
    margin-bottom: 30px;
  }
}

.single-equipment {
  padding-bottom: 64px;

  & .app-screen__title {
    margin: 56px 0 48px 0;
  }

  &__icon {
    position: -webkit-sticky;
    position: sticky;
    top: 175px;
    max-width: 250px;
    @media (max-width: $breakpoint-md) {
      position: static;
      margin: 0 auto;
    }

  }
}