@import "../abstracts/mixins";
@import "../abstracts/variables";

.prices {
  margin-bottom: 40px;
  .current-menu-item {
    background: $accentColor;
    color: #fff;
  }
  padding-top: 57px;
  &-heading {
    font-family: 'Antqua', serif;
    margin-right: 36px;
  }
  &-gender {
    &-menu {
      display: flex;
    }
    & a {
      padding: 12px 36px;
      margin-right: 12px;
    }
  }
  &-hamburger {
    display: none;
  }
  &-categories {
    padding-top: 22px;
  }
  &-sidebar {
    & h2 {
      @include fontSize(24, 36);
      line-height: 1.333;
      font-weight: bold;
      margin-bottom: 24px;
    }
    & h3 {
      @include fontSize(20, 24);
      line-height: 1.5;
      font-weight: bold;
      margin-bottom: 24px;
    }
    & h4 {
      @include fontSize(16, 20);
      line-height: 1.5;
      font-weight: bold;
      margin-bottom: 24px;
    }
    & h5 {
      @include fontSize(16, 18);
      line-height: 1.38;
      font-weight: 900;
      margin-bottom: 24px;
    }
    & img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 24px;
    }
    & p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 12px;
    }
    &-more {
      margin-top: 24px;
      a {
        padding: 20px 36px;
      }
    }
  }
  & .sidebar {
    will-change: min-height;
    &__inner {
      transform: translate(0, 0); /* For browsers don't support translate3d. */
      transform: translate3d(0, 0, 0);
      will-change: position, transform;
    }
  }
}



@media (max-width: $breakpoint-lg) {
  .prices {
    overflow: hidden;
    padding-top: 24px;
    & .row:first-of-type {
      flex-direction: column;
      align-items: flex-start;
    }
    &-heading {
      margin: 0 0 16px 0;
    }
    &-gender {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  #main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .prices {
    &-sidebar {
      &-more {
        & a {
          padding: 14px 26px;
        }
      }
    }
  }
}