@import "../abstracts/mixins";
@import "../abstracts/variables";

.services {
  padding-top: 57px;
  @media (max-width: $breakpoint-lg) {
    padding-top: 24px;
  }
  &-heading {
    font-family: 'Antqua';
    margin-bottom: 24px;
  }
  &-gender {
    margin-left: 36px;
    & li {
      margin-right: 20px;
    }
  }
  &-content {
    & h1 {
      @include fontSize(30, 48);
      line-height: 1.333;
    }
    & h2 {
      @include fontSize(24, 36);
      line-height: 1.333;
      margin-bottom: 16px;
      font-family: 'AntquaRegular';

    }
    & h3 {
      @include fontSize(20, 24);
      line-height: 1.5;
      font-weight: 700;
      margin: 16px 0;
    }
    & h4 {
      @include fontSize(16, 20);
      line-height: 1.5;
    }
    & h6 {
      @include fontSize(14, 16);
      line-height: 30px;

    }
    & p {
      font-size: 16px;
      font-weight: 400;
      color: $defaultTextColor;
      line-height: 1.85;
      margin-bottom: 12px;
    }
    & img {
      padding: 24px 0;
      border-radius: 10px;
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
    & .video-item {
      margin: 24px 0;
    }
    & ul {
      list-style: none;
      margin-bottom: 24px;
      & li {
        font-size: 16px;
        line-height: 30px;
      }
      & li:before {
        content: "\2022";
        color: $accentColor;
        font-weight: bold;
        display: inline-block; 
        padding-right: 12px;
      }
    }
    & ol {
      counter-reset: li;
      margin-bottom: 24px;
      & li {
        list-style: none;
        counter-increment: li;
        font-size: 16px;
        line-height: 30px;
        &::before {
          content: counter(li);
          color: $accentColor;
          display: inline-block;
          padding-right: 12px;
        }
      }
    }
    & a {
      color: $accentColor;
      font-weight: 700;
      display: inline-block;
      text-decoration: none;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 0; 
        height: 1.3px;
        display: block;
        margin-top: 0px;
        right: 0;
        background: $accentColor;
        transition: width .4s ease;
        -webkit-transition: width .4s ease;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.services-tabs {
  margin-top: 42px;
  .tabs {
    &-list {
      margin-bottom: 24px;
      &-item {
        & + .tabs-list-item {
          margin-left: 29px;
          @media (max-width: $breakpoint-md) {
            margin-left: 24px;
          }
        }
        &__link {
          border: 1px solid $accentColor;
          border-radius: 100px;
          display: inline-block;
          font-weight: 500;
          @include fontSize(14,16);
          line-height: 1.18;
          color: $accentColor;
          padding: 12px 36px;
          border: 1px solid $accentColor;
          @media (max-width: $breakpoint-md) {
            width: 100%;
            padding: 14px 41px 13px 41px;
          }
          &.active, &:hover {
            background: $accentColor;
            color: $whiteColor;
          }
        }
      }
    }
    &-wrap {
      & .tab-content {
        display: none;
        animation: fadeEffect .5s;
        -webkit-animation: fadeEffect .5s;
      }
      & .is-show {
        display: block;
      }

      & .active {
        display: block;
      }
    }
  }
}

.prices-content {
  width: 100%;
  & table {
    width: 100%;
  }
  & caption {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: left;
    padding: 36px 0 24px 0;
  }
  & tr {
    & th:first-of-type {
      padding: 8px 8px 8px 36px;
    }
    & th:nth-child(2n) {
      width: 50%;
    }
  }
  & th {
    padding: 8px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  & td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
  }
  & tr {
    & td:first-of-type {
      padding-left: 36px;
    }
    & td:last-of-type {
      text-align: right;
      padding-right: 16px;
    }
  }
  & tr:nth-child(odd) {
    background: $backgroundDarker;
  }
  & i {
    cursor: pointer;
    &:before {
      content: url('../img/add-service.svg')
    }
  }
}

.prices-nav {
  flex-direction: column;
  align-items: flex-start;
  & li.current-cat-ancestor.hasSubMenu> a {
    background-color:#2F4E74;
  }
  & li.cat-item.inner-nav-menu-item.current-cat> a {
    background-color: #2F4E74;
  }
  & .image-arrow{
     display:inline-block;
     padding: 5px 20px;
  }
  & .services-hide {
     display:none !important;
  }
  & .inner-nav-menu {
    &-item {
      margin: 0 0 10px 0;
      position: relative;
      & a {
        &:hover i:before {
          background-image: url('/src/img/menu-arrow-white.svg');
          transform: rotate(-180deg)
        }
      }
    }
  }
  & .services-subnav {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    padding-left: 20px;
    & li:last-of-type {
      margin: 0;
    }
  }
  & i {
    position: absolute;
    top: 0%;
    width: 36px;
    height: 40px;
    z-index: 99;
    &:before {
      content: '';
      background-image: url('/src/img/menu-arrow.svg');
      background-repeat: no-repeat;
      width: 12px;
      height: 6px;
      top: 50%;
      right: 15px;
      position: absolute;
      @include transition(.3);
      transition: all 0.3s ease-out;
    }
  }
}

.isOpen {
  
}

.-hasSubMenu {
  &:after {
    content: '';
    background-image: url(/src/img/menu-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
  }
  & .services-subnav {
    display: none;
  }
  & .open {
    display: block;
  }
  & a {
    padding-right: 50px;
  }
}

@media (max-width: $breakpoint-md) {
  .prices-content {
    & table {
      min-width: 500px;
    }
    & tr {
      & td:first-of-type {
        padding-left: 24px;
      }
    }
  }
}

.table-wrap {
  overflow-x: auto;
  padding-bottom: 5px;
  &::-webkit-scrollbar {
    height: 5px;
  }
    
  &::-webkit-scrollbar-track:horizontal {
    box-shadow: inset 0 0 10px #E6E6E6;
    border-radius: 10px;
  }
    
  &::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    background: $accentColor; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
}

@media (max-width: $breakpoint-lg) {
  .services {
    & .inner-hamburger {
      display: block;
    }
    & .inner-nav-heading {
      display: block;
    }
    & .inner-nav-close {
      display: block;
    }
    & .inner-nav-menu {
      position: fixed;
      height: calc(110vh - 62px);
      overflow-y: auto;
      top: 61px;
      right: -110%;
      width: 100%;
      background: $bodyBackground;
      z-index: 12;
      padding: 70px 15px 70px 15px;
      flex-direction: column;
      flex-wrap: nowrap;
      @include transition (.3);
    }
    & .active {
      right: 0;
    }
  }
}