@import "../abstracts/mixins";
@import "../abstracts/variables";
/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
input:focus {
  outline: none;
}

.form {
  margin-bottom: 28px;

  &-notification {
    font-size: 9px;
    color: #858585;
    margin-bottom: 15px;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 25px;
    color: $whiteColor;
    text-align: center;
    width: 100%;
  }

  &__description {
    font-weight: normal;
    margin-bottom: 30px;
    @include fontSize(14, 16);
    color: $whiteColor;
    width: 100%;
  }

  &-control {
    margin-bottom: 16px;

    &.--half {
      width: 60%;
      margin-bottom: 16px;
      @media(max-width: $breakpoint-md) {
        width: 100%;
      }
    }

    &__notification {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #333333;
      margin-top: 8px;
    }

    &__label {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 5px;
      color: $defaultTextColor;
      display: block;
    }

    &__input, &__area {
      vertical-align: top;
      width: 100%;
      margin-bottom: 0;
      background: $whiteColor;
      border-radius: 0;
      padding: 20px 24px;
      outline: none;
      line-height: 1.5;
      @include fontSize(14, 16);
      color: $defaultTextColor;
      font-weight: normal;
      border: 1px solid #888888;
      font-family: ' Circe', sans-serif;
      z-index: 1;
      position: relative;
      resize: none;
      @include transition(.3);
      &::-webkit-input-placeholder {
        font-family: 'Circe', sans-serif;
        font-weight: 300;
        @include fontSize(14, 16);
        color: #888888;
        opacity: 1;
        transition: opacity 0.5s;
      }

      &::-moz-placeholder {
        font-family: 'Circe', sans-serif;
        font-weight: 300;
        @include fontSize(14, 16);
        color: #888888;
        opacity: 1;
        transition: opacity 0.5s;
      }

      &:-ms-input-placeholder {
        font-family: 'Circe', sans-serif;
        font-weight: 300;
        @include fontSize(14, 16);
        color: #888888;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }

  input:disabled {
    cursor: not-allowed;
  }

  &-checkbox {
    margin: 20px 0;
    position: relative;

    &__label {

    }

    &__input {
      display: none;
    }

    &__name {
      font-size: 12px;
      padding-left: 28px;
      color: #7A7A7A;
      font-weight: 300;
      line-height: 20px;

      & span {
        position: absolute;
        left: 0;
        top: 2px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $whiteColor;
        border: 1px solid #C3C3C3;
        border-radius: 2px;
        @include transition(.3);

        &.--filter {
          border: none;
        }
      }
    }
  }
}

.login-form {
  &__terms {
    font-size: 12px;
    line-height: 1.66;
    margin-top: 25px;
    color: #C3C3C3;

    & a {
      color: $accentColor;
    }
  }

  &__lostpassword {
    @include fontSize(14, 16);
    line-height: 1.5;
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1px dotted $accentColor;
      width: 100%;
      height: 1px;
    }

  }

  &__or {
    position: relative;

    &--text {
      font-size: 12px;
      padding: 0 20px;
      background: #fff;
      color: #7A7A7A;
      display: block;
      margin: 30px auto 26px auto;
      width: 60px;
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      height: 1px;
      background: #C3C3C3;
      width: 1000%;
      position: absolute;
      top: 50%;
      left: -500%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 1;
    }
  }

}


::-webkit-input-placeholder {
  font-family: 'Circe', sans-serif;
  font-size: 12px;
  color: #C3C3C3;
  opacity: 1;
  transition: opacity 0.5s;
}

::-moz-placeholder {
  font-family: 'Circe', sans-serif;
  font-size: 12px;
  color: #C3C3C3;
  opacity: 1;
  transition: opacity 0.5s;
}

:-ms-input-placeholder {
  font-family: 'Circe', sans-serif;
  font-size: 12px;
  color: #C3C3C3;
  opacity: 1;
  transition: opacity 0.5s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

div.wpcf7 .ajax-loader {
  display: none !important;
}

.form-checkbox [type="checkbox"]:checked + .form-checkbox__name span {
  border-color: #6793D4;
  background-image: url(../img/check.svg);
  -webkit-background-size: 70%;
  background-size: 70%;
  @include transition(.3);
}

.form-checkbox [type="radio"]:checked + .form-checkbox__name span {
  border-color: #6793D4;
  background-image: url(../img/check.svg);
  -webkit-background-size: 70%;
  background-size: 70%;
  @include transition(.3);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-color: transparent;
}

*/
// Roman

.form {
  .input-wrapper {
    margin-bottom: 24px;
  }
  & input, textarea, select {
    padding: 16px 24px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    &::placeholder {
      color: $inputPlaceholderColor;
    }
    &:focus {
      border: 1px solid $defaultTextColor;
      outline: none;
    }
  }
  & input[type="submit"] {
    border-radius: 100px
  }
  & input[type=number]::-webkit-inner-spin-button,
  & input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  & input[type=number]{
    -moz-appearance: textfield;
  }
  & textarea {
    resize: vertical;
  }
  & .select-wrapper {
    position: relative; 
    &:after {
      content: '';
      width: 54px;
      right: 0;
      height: 100%;
      background: $accentColor;
      background-image: url('/src/img/menu-arrow-white.svg');
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      font-size: 28px;
      position: absolute;
      color: #434B67;
      pointer-events: none;
      border-radius: 5px 0px 0px 5px;
      
    }
    & select {
      width: 100%;
      background: #fff;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      padding: 17px 150px 17px 24px;
      font-size: 14px;
      line-height: 20px;
      color: #7C7C7C;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
        appearance: none;
    }
    select::-ms-expand {
      display: none;
    }
  }
  & .spinner-button {
      position: absolute;
      cursor: default;
      z-index: 2;
      background-color: #ccc;
      width: 14.5px;
      text-align: center;
      margin: 0px;
      pointer-events: none;
      height: 10px;
      line-height: 10px;
  }
  & .input-number-wrapper {
    position: relative;
    & input {
      width: 120px;
    }
    & button {
      position: absolute;
      border: none;
      background: $accentColor;
      width: 30%;
      height: 50%;
      outline: none;
      &:before {
        content: '';
        background-image: url('/src/img/menu-arrow-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
      }
    }
    & .quantity-arrow-plus {
      right: 0;
      top: 0;
      border-radius: 0 5px 0 0;
      &:before {
        content: '';
        background-image: url('/src/img/menu-arrow-white.svg');
      }
    }
    & .quantity-arrow-minus {
      right: 0;
      bottom: 0;
      border-radius: 0 0 5px 0;
      &:before {
        transform: rotate(-180deg);
      }
      &:after {
        content: '';
        width: 100%;
        background: #214065;
        top: -1px;
        position: absolute;
        height: 2px;
        left: 0px;
      }
    }
  }
  & .checkbox-wrapper {
    & label {
      position: relative;
      font-size: 14px;
      line-height: 26px;
      color: #7C7C7C;
    }
    & input {
      position: absolute;
      opacity: 1;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background-color: $accentColor;
      }
      &:checked ~ .checkmark:after {
        display: block;
      }
    }
    & .checkmark {
      height: 24px;
      width: 24px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid $accentColor;
      margin-right: 12px;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 8px;
        top: 5px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
