@import "../abstracts/mixins";
@import "../abstracts/variables";

// Roman


.form {
  &-group {
    margin-bottom: 24px;
  }
  &-input, &-textarea {
    padding: 16px 24px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    &::placeholder {
      color: $inputPlaceholderColor;
    }
    &:focus {
      border: 1px solid $defaultTextColor;
      outline: none;
    }
  }
  &-textarea {
    resize: vertical;
  }
  &-number-wrapper {
    position: relative;
    & button {
      position: absolute;
      border: none;
      background: $accentColor;
      width: 30%;
      height: 50%;
      outline: none;
      &:before {
        content: '';
        background-image: url('../../src/img/menu-arrow-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
      }
    }
    & .quantity-arrow-plus {
      right: 0;
      top: 0;
      border-radius: 0 5px 0 0;
      &:before {
        content: '';
        background-image: url('../../src/img/menu-arrow-white.svg');
      }
    }
    & .quantity-arrow-minus {
      right: 0;
      bottom: 0;
      border-radius: 0 0 5px 0;
      &:before {
        transform: rotate(-180deg);
      }
      &:after {
        content: '';
        width: 100%;
        background: #214065;
        top: -1px;
        position: absolute;
        height: 2px;
        left: 0px;
      }
    }
  }
  &-select-wrapper {
    position: relative; 
    &:after {
      content: '';
      width: 54px;
      right: 0;
      height: 100%;
      background: $accentColor;
      background-image: url('../../src/img/menu-arrow-white.svg');
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      font-size: 28px;
      position: absolute;
      color: #434B67;
      pointer-events: none;
      border-radius: 5px 0px 0px 5px;
    }
  }
  &__select {
    width: 100%;
    color: $defaultTextColor;
    background: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      &::placeholder {
        color: $inputPlaceholderColor;
      }
      &:focus {
        border: 1px solid $defaultTextColor;
        outline: none;
      }
  }
  &-checkbox-wrapper {
    padding-top: 8px;
    & label {
      position: relative;
      font-size: 14px;
      line-height: 26px;
      color: #7C7C7C;
    }
    & .checkmark {
      height: 24px;
      width: 24px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid $accentColor;
      margin-right: 12px;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 8px;
        top: 5px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  &-checkbox {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $accentColor;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  &-submit {
    padding: 12px 36px;
    font-size: 16px;
  }

}

.contact-submit {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form {
  & input, textarea, select {
    padding: 16px 24px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    &::placeholder {
      color: $inputPlaceholderColor;
    }
    &:focus {
      border: 1px solid $defaultTextColor;
      outline: none;
    }
  }
  & input[type="submit"] {
    border-radius: 100px
  }

  & input[type=number]{
    -moz-appearance: textfield;
  }
  & textarea {
    resize: vertical;
  }
  & .input-wrapper {
    margin-bottom: 20px;
  }
  & .select-wrapper {
    position: relative; 
    &:after {
      content: '';
      width: 54px;
      right: 0;
      height: 100%;
      background: $accentColor;
      background-image: url('../../src/img/menu-arrow-white.svg');
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      font-size: 28px;
      position: absolute;
      color: #434B67;
      pointer-events: none;
      border-radius: 5px 0px 0px 5px;
    }
    & select {
      width: 100%;
      background: #fff;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      padding: 17px 150px 17px 24px;
      font-size: 14px;
      line-height: 20px;
      color: #7C7C7C;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
        appearance: none;
    }
    select::-ms-expand {
      display: none;
    }
  }
  &-file {
    top: 100px;
    color: $accentColor;
    font-size: 20px;
    padding-top: 10px;
    outline: none;
    border: none;
    border: none;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    &:before {
      content: url("../img/upload-image.svg");
      width: 84px;
      height: 84px;
      border-radius: 100%;
      background: $accentColor;
      position: absolute;
      top: -80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      padding-top: 24px;
      position: relative;
      & .input-image-label {
        background: $accentColor;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        display: inline-block;
        outline: none;
        transition: all 0.3s;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 20px;
        z-index: 2;
        left: 54px;
      }
      & .avatar-preview {
        width: 84px;
        height: 84px;
        position: relative;
        border-radius: 100%;
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
      }
    }
    &-text {
      color: #7C7C7C;
      font-size: 14px;
      line-height: 20px;
      width: 78%;
      padding: 48px 0 0 24px;
      margin-left: auto;
    }
    &-image {
      width: 84px;
      height: 84px;
      border-radius: 100px;
    }
  }
}


.wpcf7-form-control-wrap {
  position: static!important;
}





