@import "../abstracts/mixins";
@import "../abstracts/variables";

.inner-hamburger {
  display: none;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
  & .hamburger-text {
    position: absolute;
    right: 18px;
    width: 100%;
    text-align: right;
    padding-right: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $accentColor;
    top: -0.5px;
  }
  & .hamburger-lines {
    position: absolute;
    right: 16px;
    top: 6px;
    & span {
      position: absolute;
      display: block;
      height: 1px;
      background: $accentColor;
      width: 16px;
      left: 0;
      @include transition(0.3);
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 4px;
      }
      &:nth-child(3) {
        top: 8px;
      }
    }
  }
  & .open {
    & span {
      &:nth-child(1) {
        top: 4px;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }
      &:nth-child(2) {
        background: transparent;
      }
      &:nth-child(3) {
        top: 4px;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }
    }
  }
  @media (max-width: $breakpoint-sm) {
    display: block;
  }
}

.inner-nav {
  &-heading {
    display: none;
    font-family: 'Antqua', sans-serif;
    position: absolute;
    top: 12px;
    @media(max-width: $breakpoint-sm) {
      display: block;
    }
  }
  &-close {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 24px;
    right: 20px;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 12px;
      right: 2px;
      width: 26px;
      height: 2px;
      background: $defaultTextColor;
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    @media(max-width: $breakpoint-sm) {
      display: block;
    }
  }
  &-menu {
    padding-top: 16px;
    @media(max-width: $breakpoint-sm) {
      position: fixed;
      height: calc(100vh - 62px);
      overflow-y: auto;
      top: 70px;
      right: -110%;
      width: 100%;
      background: $bodyBackground;
      z-index: 12;
      padding: 70px 15px 70px 15px;
      flex-direction: column;
      flex-wrap: nowrap;
      @include transition (.3);
    }
    &-item {
      margin: 0 20px 20px 0;
      border-radius: 100px;
      @media(max-width: $breakpoint-sm) {
        margin: 0 0 10px 0;
      }
      & a {
        background: transparent;
        border: 1px solid $accentColor;
        border-radius: 100px;
        cursor: pointer;
        color: $accentColor;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        @include fontSize(14, 16);
        display: inline-block;
        line-height: 1.187;
        padding: 12px 36px;
        min-width: 100px;
        text-align: center;
        @include transition(0.3);
        @media (max-width: $breakpoint-md) {
          padding: 9px 24px;
        }
        &:hover, &.current-menu-item {
          background: $accentColor;
          color: #fff;
          & a {
            color: $whiteColor;
          }
        }
      }
    }
  }
  & .active {
    right: 0;
  }
}