@import "../abstracts/mixins";
@import "../abstracts/variables";

.modal {
  opacity: 0;
  visibility: hidden;
  // opacity: 1;
  // visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  outline: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 0.3s all;
  &-body {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 30px 0 30px 0;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:after, &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 1px;
      width: 0;
    }
  }
  &-content {
    display: table;
    position: relative;
    margin: auto;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    &-image {
      width: 40%;
      padding-top: 23px;
      & img {
        border-radius: 10px;
        width: 100%;
        max-height: 450px;
        object-fit: cover;
      }
    }
    &-form {
      width: 60%;
      padding: 23px 0 0 20px;
      & .form {
        & .input-wrapper {
          margin-bottom: 20px;
          & input {
            width: 100%;
          }
          & textarea {
            width: 100%;
          }
          & input[type="submit"] {
            padding: 21px;
          }
        }
      }
    }
  }
  &-close {
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    backface-visibility: hidden;
    width: 30px;
    height: 30px;
    &:before, &:after {
      content: '';
      background: $accentColor;
      position: absolute;
      width: 20px;
      height: 2px;
      transform: rotate(45deg);
      top: 40%;
      right: 20%;
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      transform: scale(1.07)
    }
  }
  & .contacts-modal {
    text-align: center;
    max-width: 750px;
    padding: 60px 36px;
    & .modal-heading {
      font-family: 'Antqua';
      @include fontSize(20, 24);
      line-height: 1.5;
      font-weight: 700;
    }
    & .contact-person {
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      padding-top: 9px;
    }
  }
  & .reserve-modal {
    max-width: 750px;
    padding: 36px 41px;
    & .form {
      max-width: 420px;
    }
    & .reserve-header {
      margin-bottom: 16px;
      & .reserve-procedure, .reserve-price {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 36px;
        color: #888;
        flex-wrap: wrap;
      }
      & p {
        margin-right: 12px;
      }
      & input {
        border: none;
        outline: none;
        font-size: 24px;
        line-height: 36px;
        color: $defaultTextColor;
        padding: 0;
        width: 60%;
      }
    }
    & .reserve-city {
      max-width: 310px;
    }
    & .reserve-inputs {
      max-width: 420px;
      & input {
        width: 100%;
      }
    }
    & .reserve-date {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      &__day {
        position: relative;
        width: 108px;
        & input {
          width: unset;
        }
      }
      &__month {
        width: 166px;
        & select {
          padding: 17px 24px;
          width: 100%;
          color: $defaultTextColor;
        }
      }
      &__year {
        width: 116px;
        & input {
          padding: 17px 40px;
          width: 100%;
        }
      }
    }
    & .reserve-time {
      max-width: 320px;
      &__from, &__to {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        & p {
          font-size: 14px;
          line-height: 20px;
          color: #7C7C7C;
          width: 50px;
        }
      }
    }
    & .reserve-message {
      & textarea {
        width: 100%;
        height: 135px;
      }
    }
    & .reserve-checkboxes {
      padding-bottom: 20px;
      & p {
        font-size: 14px;
        line-height: 26px;
        color: #7C7C7C;
      }
      & .checkbox-wrapper {
        padding-top: 8px;
        & label:first-child {
          margin-right: 40px;
        }
      }
    }
    & .reserve-submit {
      & input {
        padding: 12px 36px;
        font-size: 16px;
      }
    }
  }
  & .online-reserve {
    width: unset;
    margin: 0;
    top: 101px;
    & .online-reserve-call {
      position: absolute;
      top: 64px;
      right: 40px;
      & .reserve-call-wrapper {
        border-radius: 100%;
        width: 80px;
        height: 80px;
        background: $accentColor;
        position: relative;
        cursor: pointer;
        @include transition (.3);
        &:hover {
          background: #1C60B3;
        }
      }
      & .reserve-call-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    & .reserve-date__day, .reserve-date__month {
      margin-right: 20px;
    }
    & .reserve-date__year input {
      padding: 17px 39px;
    }
    & .online-reserve-procedure {
      & input {
        width: 100%;
      }
    }
  }
  & .online-reserve-callback {
    width: 502px;
    height: 80%;
    & .online-callback-back {
      cursor: pointer;
      position: absolute;
      left: 60px;
      bottom: 40px;
      & .back-img {
        padding-right: 12px;
        & img {
          transform: rotate(90deg);
        }
      }
      & .back-text {
        color: $accentColor;
      }
    }
  }
}

.modal-online-reserve {
  z-index: 40;
}


.overlay {
  opacity: 0;
  visibility: hidden;
  // opacity: 1;
  // visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 20;
  transition: .3s all;
}

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}

@media(max-width: $breakpoint-lg) {
  .modal {
    & .online-reserve {
      top: 26px;
    }
  }
}

@media(max-width: $breakpoint-md) {
  .modal {
    &-close {
      right: 12px;
      top: 12px;
    }
    &-content {
      &-image {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 24px;
      }
      &-box {
        flex-direction: column;
      }
      &-form {
        width: 100%;
        padding: 0;
        & .form .input-wrapper input[type="submit"]{
          padding: 18px;
        }
      }
    }
    & .contacts-modal {
      padding: 60px 36px 20px 36px;
    }
    & .reserve-modal {
      padding: 16px 14px;
      max-width: unset;
      display: block;
      & .modal-content-box {
        align-items: flex-start;
      }
      & .form {
        width: 100%;
        max-width: unset;
        & .reserve-procedure, .reserve-price {
          font-size: 16px;
          & input {
            font-size: 16px;
          }
        }
        & .reserve-city, .reserve-inputs {
          max-width: unset;
        }
        & .reserve-date {
          flex-direction: column;
          align-items: flex-start;
          &__day, &__month {
            margin-bottom: 20px;
          }
        }
        & .reserve-time {
          & .input-number-wrapper input {
            width: 90px;
          }
        }
      }
    }
    & .online-reserve {
      display: table;
      & .online-reserve-call {
        top: 56px;
        & .reserve-call-wrapper {
          width: 70px;
          height: 70px;
        }
      }
      & .reserve-city {
        & .select-wrapper {
          width: 60%;
          & select {
            padding: 17px 60px 17px 24px;
          }
        }
      }
    }
    & .online-reserve-callback {
      width: 352px;
    }
  }
}


.modal-open {
  overflow: hidden;
}

// .modal {
//   display: none;
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 999;
//   outline: 0;
//   overflow: hidden;
//   background-color: rgba(0, 0, 0, 0.8);
//   -webkit-overflow-scrolling: touch;

//   &__close {
//     position: absolute;
//     right: 0;
//     top: -31px;
//     background: $whiteColor;
//     height: 31px;
//     width: 31px;
//     color: red;
//   }

//   &__body {
//     position: absolute;
//     display: flex;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     overflow-y: hidden;
//   }

//   &__content {
//     position: relative;
//     margin: auto;
//     width: 100%;
//     padding: 60px 8%;
//     max-width: 700px;
//     background: $whiteColor;
//     color: $defaultTextColor;
//     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
//     border-radius: 0;

//     &.table-sizes {
//       padding: 0;
//       max-width: 65%;
//       margin: auto;
//       height: 80%;
//       background: $whiteColor;
//       overflow-x: auto;

//       @media (max-width: $breakpoint-lg) {
//         max-width: 80%;
//         padding: 15px;
//       }
//       @media (max-width: $breakpoint-sm) {
//         max-width: 96%;
//         padding: 15px;
//       }
//     }

//     &::-webkit-scrollbar-track, .select-items::-webkit-scrollbar-track {
//       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//       border-radius: 0;
//       background-color: rgba(180, 152, 102, .25);
//     }

//     &::-webkit-scrollbar, .select-items::-webkit-scrollbar {
//       width: 5px;
//       background-color: transparent;
//     }

//     &::-webkit-scrollbar-thumb, .select-items::-webkit-scrollbar-thumb {
//       border-radius: 0;
//       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//       background-color: #fff;
//     }

//     @media (max-width: 767px) {
//       margin: auto 15px;
//       padding: 30px 15px 15px 15px;
//       overflow-y: auto;
//       height: auto;
//       max-height: 100%;
//     }
//   }

//   &__title {
//     display: block;
//     color: var(--col-black);
//     font-size: 18px;
//     margin: 0 0 40px 10px;
//     font-weight: bold;
//   }

//   &__btn {
//     height: 50px;
//     line-height: 50px;
//     background-color: var(--col-secondary);

//     span {
//       line-height: 50px;
//     }

//     &:hover {
//       span {
//         transform: translateY(-50px);
//       }
//     }
//   }
// }






